body {
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial, Helvetica, sans-serif;
    background: #EFEFEF;
}

#page {
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    /*border: 1px solid #C9E0ED;*/
}

#header {
    margin: 0;
    padding: 0;
    /*border-top: 3px solid #C9E0ED;*/
}

#content {
    padding: 20px;

}

#sidebar {
    padding: 20px 20px 20px 0;
}

#footer {
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    /*border-top: 1px solid #C9E0ED;*/
}

#logo {
    padding: 10px 20px;
    font-size: 200%;
}

#logo a {
    color: #2f96b4 ! important;
    text-decoration: none ! important;
}

#logo:hover a {
    color: #2f96b4 ! important;
    text-decoration: none ! important;
}

#user-bar {
    text-align: right;
    float: right;
    margin-top: 20px;
}

#mainmenu {
    background: white url(bg.gif) repeat-x left top;
}

#mainmenu ul {
    padding: 6px 20px 5px 20px;
    margin: 0;
}

#mainmenu ul li {
    display: inline;
}

#mainmenu ul li a {
    color: #ffffff;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
    color: #6399cd;
    background-color: #EFF4FA;
    text-decoration: none;
}

div.flash-error, div.flash-notice, div.flash-success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

div.flash-error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}

div.flash-notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}

div.flash-success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

div.flash-error a {
    color: #8a1f11;
}

div.flash-notice a {
    color: #514721;
}

div.flash-success a {
    color: #264409;
}

div.form .rememberMe label {
    display: inline;
}

div.view {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f0f0f0;
    border-radius: 7px;
}

div.breadcrumbs {
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span {
    font-weight: bold;
}

.portlet {

}

.portlet-decoration {
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content {
    font-size: 0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background: #EFFDFF;
}

.portlet-content ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.portlet-content li {
    padding: 2px 0 4px 0;
}

.operations {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li {
    padding-bottom: 2px;
}

.operations li a {
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited {
    color: #0066A4;
}

.operations li a:hover {
    background: #80CFFF;
}

span.cat {
    color: #B3B3B3;
    font-size: 85%;
}

div.lpu-result table td {
    border-top: 1px solid #B3B3B3 !important;
    border-right-style: none !important;
    border-bottom: 1px solid #B3B3B3 !important;
    border-left-style: none !important;
}

.loading-indicator {
    position: absolute;
    left: 10px;
    top: 10px;
}

div.cell {
    float: left;
}

div.search-form input, div.form textarea, div.form select {
    margin: 0.2em 0.2em 0.5em 0.2em;
    padding: 6px;
    border: 1px rgb(209, 209, 209) solid;
    border-radius: 3px;

    font-size: 1.2em;
}

div.search-form {
    padding: 10px;
    margin: auto;
    background: #eee;
    display: table;

}
/* выпадающее меню при наведении */
/*
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
*/
.non-caret .caret {
    display: none;;
}

.dropdown-menu a {
    text-decoration: none;
}
input.hasDatepicker{
    min-width: 97%;
}
.daterangepicker th{
    border-radius: 0 !important;
}
#mesto-form {
    margin: 0;
}

#report_date_range_picker {
    height: 26px;
    width: 95%;
}

#org_filter {
    text-align: left;
}

#report_filter_table td {
    vertical-align: top;
    text-align: center;
}

#report_filter_table th label {
    line-height: 1em;
}

#report_filter_table th {
    text-align: right;
    padding: 0;
}

#report_filter_table {
    margin-bottom: 0;
}

.selectize-input {
    height: 35px;
}

#org_picker .btn {
    height: 24px;

}

#date_picker .btn {
    font-size: 12px;
    padding: 4px;
}

.label-small {
    font-size: 12px;
}

.yii-selectize {
    margin: 0 0 0 0 ! important;
}
.selectize-input{
    margin: 0 0.2em 0.5em 0.2em;
}
hr.l1 {
    color: #C8C8C9;
    height: 1px;
    border-style: none;
    background-color: #C8C8C9;
    margin-top: 0;
    margin-bottom: 0;
}
select{
    height: 34px ! important;
    margin: -0.2em 0.2em 0.5em 0.2em  ! important;
}