/**
 * style.css
 *
 * @author Martin Ludvik <matolud@gmail.com>
 * @copyright Copyright &copy; 2014 by Martin Ludvik
 * @license http://opensource.org/licenses/MIT MIT license
 */
#hospital-cal td {
    border: 1px solid rgb(185, 185, 185);
}

table.e-calendar-view thead th {
    padding: 4px 5px;
    text-align: center;
}

table.e-calendar-view tbody td {
    padding: 4px 5px;
    vertical-align: top;
}

table.e-calendar-view tbody td div.date {
    text-align: center;
    margin: auto;
}

table.e-calendar-view td.current {
    font-weight: bold;
}

table.e-calendar-view td.not-relevant {
    /*color: rgb(176, 176, 176);*/
}

div.day-div {
    /*height: 129px;*/
    /*width: 112px;*/
    padding: 5px;
    background-color: #fff;
    margin: auto;
}

div.current-day {
    background-color: #FFD293;
}
div.future {
    background-color: #FDD6D6;
}

div.past {
    height: 20px;
}